:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primare-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --secondary-accent-color: #000000;
  --card-set-gap: 30px;
  --section-set-gap: 94px;
  --mobile-section-set-gap: 60px;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  /* padding-top: 80px; */
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primare-bg-color);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--section-set-gap);
    padding-bottom: var(--section-set-gap);
    padding-left: 0;
    padding-right: 0;
  }
}

.section__title {
  margin: 0 0 var(--card-set-gap);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
  }
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  /* position: fixed; */
  width: 100%;
  background-color: var(--primare-bg-color);
  top: 0;
  left: 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #ececec;
}

@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .contacts-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__icon:hover, .contact__icon:focus {
  fill: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
  left: 0;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding: 24px 0;
  }
}

.logo__header {
  color: var(--secondary-accent-color);
}

.logo__footer {
  color: var(--primare-bg-color);
}

.logo__down {
  margin-bottom: 20px;
  padding: 0;
}

.index-btn {
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primare-bg-color);
  background-color: var(--accent-color);
  min-width: 200px;
  border: transparent;
  cursor: pointer;
  -webkit-transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function), transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function), transform var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
}
.index-btn:hover, .index-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.hero__buttom {
  padding: 10px 32px;
}
.hero__buttom:hover, .hero__buttom:focus {
  -webkit-box-shadow: 0px 10px 20px #d4cbf3;
          box-shadow: 0px 10px 20px #d4cbf3;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 29px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin: 0 0 0 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  height: 50px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-nav__list {
    margin-bottom: 50px;
  }
}

.filter-nav__item {
  margin-left: 8px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .filter-nav__item {
    margin-top: 0px;
    margin-left: 0px;
  }
  .filter-nav__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-nav__btn {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function);
}
.filter-nav__btn:hover, .filter-nav__btn:focus {
  color: var(--primare-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  background-color: var(--primare-bg-color);
  block-size: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  cursor: pointer;
  color: var(--icon-color);
  -webkit-transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function);
}
.social__link:hover, .social__link:focus {
  color: var(--primare-bg-color);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}

.footer__wrap {
  text-align: center;
  margin-bottom: var(--mobile-section-set-gap);
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    text-align: left;
  }
}

.footer-nav {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-align: center;
  color: inherit;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    text-align: left;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-nav__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-nav__address {
  color: var(--primare-bg-color);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.footer-nav__address:hover, .footer-nav__address:focus {
  color: var(--accent-color);
}

.footer-nav__contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.footer-nav__contact:hover, .footer-nav__contact:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social {
  margin-bottom: var(--mobile-section-set-gap);
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin: 0 0 0 70px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  block-size: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  cursor: pointer;
  color: var(--primare-bg-color);
  -webkit-transition: background-color var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primare-bg-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
  color: var(--primare-bg-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primare-bg-color);
  -webkit-transition: border var(--time-duration) var(--timing-function), -webkit-filter var(--time-duration) var(--timing-function);
  transition: border var(--time-duration) var(--timing-function), -webkit-filter var(--time-duration) var(--timing-function);
  transition: border var(--time-duration) var(--timing-function), filter var(--time-duration) var(--timing-function);
  transition: border var(--time-duration) var(--timing-function), filter var(--time-duration) var(--timing-function), -webkit-filter var(--time-duration) var(--timing-function);
}
.subscribe__input:focus, .subscribe__input:hover {
  border: 1px solid var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    display: block;
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 500ms var(--timing-function), visibility var(--time-duration) var(--timing-function);
  transition: opacity 500ms var(--timing-function), visibility var(--time-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primare-bg-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--time-duration) var(--timing-function);
  transition: -webkit-transform var(--time-duration) var(--timing-function);
  transition: transform var(--time-duration) var(--timing-function);
  transition: transform var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal__btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  block-size: 30px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--title-text-color);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: var(--accent-color);
}

.modal__icon-close {
  fill: currentColor;
}

/*--------------- Modal form styles ---------------------*/
.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--time-duration) var(--timing-function);
  transition: border var(--time-duration) var(--timing-function);
}
.form__input:focus, .form__input:hover {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.form__wrap {
  position: relative;
  display: block;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  color: var(--title-text-color);
  -webkit-transition: color var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function);
}
.form__wrap:focus-within > .form__icon {
  color: var(--accent-color);
}

.form__icon {
  fill: currentColor;
}

/* .form-input:focus + .form-icon,
.form-input:hover + .form-icon {
	color: var(--accent-color);
} */
.form__label--textarea {
  margin-bottom: 20px;
}

.form__input--comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__input--comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__label--contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.contract__icon {
  -ms-flex-item-align: auto;
      align-self: auto;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  outline: transparent;
  -webkit-transition: background-color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}
.checkbox:focus + .contract__icon {
  border: 3px solid var(--accent-color);
}
.checkbox:checked + .contract__icon, .checkbox:checked:focus + .contract__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal__link {
  color: var(--accent-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

.upp__button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  right: 2.5rem;
  bottom: 1.2rem;
  width: 65px;
  height: 40px;
  border: transparent;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer;
  -webkit-transition: background-color var(--time-duration) var(--timing-function), color 400ms var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform 400ms var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), color 400ms var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform 400ms var(--timing-function);
  transition: box-shadow var(--time-duration) var(--timing-function), transform 400ms var(--timing-function), background-color var(--time-duration) var(--timing-function), color 400ms var(--timing-function);
  transition: box-shadow var(--time-duration) var(--timing-function), transform 400ms var(--timing-function), background-color var(--time-duration) var(--timing-function), color 400ms var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function), -webkit-transform 400ms var(--timing-function);
}
.upp__button:hover, .upp__button:focus {
  background-color: var(--accent-color);
  color: var(--primare-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.upp__button[data-visible=true] {
  opacity: 1;
  visibility: visible;
}

.upp__icon {
  fill: currentColor;
}

.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg.jpg);
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  padding-top: 0;
  margin: 0 auto var(--card-set-gap);
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  color: var(--primare-bg-color);
  max-width: 360px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primare-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 0;
    padding-bottom: var(--section-set-gap);
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.feature-list__item {
  width: 100%;
}
.feature-list__item:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: 354px;
    -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
        flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
    margin-left: 0;
  }
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__icon-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--card-set-gap);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  height: 120px;
  /* outline: 1px solid tomato; */
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
    padding-bottom: var(--section-set-gap);
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .work__list .work__item + .work__item {
    margin-left: var(--card-set-gap);
  }
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primare-bg-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.team__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primare-bg-color);
}
.team__item:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
        flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__list .team__item + .team__item {
    margin-left: var(--card-set-gap);
  }
}

.team__content {
  padding: var(--card-set-gap) 32px 24px;
}

.team__member {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: inherit;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
@media (min-width: 768px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 0;
    margin-top: 0;
  }
}

.client__item {
  -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
      flex-basis: calc(50% - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
@media (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
        flex-basis: calc(33.3333333333% - var(--card-set-gap));
    margin-right: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .client__item:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--icon-color);
  -webkit-transition: color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
  transition: color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.portfolio__flex {
  cursor: pointer;
}
.portfolio__flex:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .portfolio__flex {
    -ms-flex-preferred-size: calc(50% - var(--card-set-gap));
        flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__flex {
    -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
        flex-basis: calc(33.3333333333% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
  }
}

.product__content {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.product__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.product {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--time-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--time-duration) var(--timing-function);
  transition: box-shadow var(--time-duration) var(--timing-function);
  transition: box-shadow var(--time-duration) var(--timing-function), -webkit-box-shadow var(--time-duration) var(--timing-function);
}
.product:hover, .product:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primare-bg-color);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: background-color var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), transform var(--time-duration) var(--timing-function);
  transition: background-color var(--time-duration) var(--timing-function), transform var(--time-duration) var(--timing-function), -webkit-transform var(--time-duration) var(--timing-function);
}
.product:hover .product__overlay, .product:focus .product__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: rgba(33, 150, 243, 0.9);
}/*# sourceMappingURL=main.css.map */