.page-header {
	// position: relative; 
	width: 100%;
	background-color: var(--primare-bg-color);
	top: 0;
	left: 0;
	// z-index: 10;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #ececec;
}
.main-nav {
	display: flex;
	align-items: center;
	@media screen and (max-width: $tablet) {
		min-height: 60px;
		justify-content: space-between;
	}
}

.main-nav__wrap {
	display: flex;
	align-items: center;
}

.site-nav {
	
	@media screen and (max-width: $tablet) {
	display: none;
	}
	@media screen and (min-width: $tablet) {
	display: flex;
	margin-left: 88px;
	position: relative;
	}
	@media screen and (min-width: $desktop) {
		margin-left: 93px;
	}

}

.contacts-nav {
	
	@media screen and (max-width: $tablet) {
		display: none;
		}
		// @media screen and (min-width: $tablet) and (max-width: 1199px) {
		// display: flex;
		
		// flex-direction: column;
		// margin-left: auto;
		// justify-content: flex-start;
		
		// }
	@media screen and (min-width: $desktop) {
	display: flex;
	margin-left: auto;
	}
}

.site-nav .site-nav__item + .site-nav__item {
	margin-left: 40px;
}

.site-nav__link {
	display: block;
	position: relative;

	padding: 32px 0px;
	// @include font(500, 40px, 47px, 0.02em, null, var(--title-text-color));
	@include font(500, 14px, 16px, 0.02em, null, var(--title-text-color));

	transition: color var(--time-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.contacts-nav__link {
	@include centeredFlex();
	padding: 32px 0px;
	@include font(500, 14px, 16px, 0.02em, null, var(--primary-text-color));
	// @include font(500, 34px, 40px, 0.02em, null, var(--primary-text-color));
	transition: color var(--time-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
	@media screen and (min-width: $tablet) {
padding: 0;
margin: 0;


}
}

.contacts-nav .contacts-nav__item + .contacts-nav__item {
	margin-left: 50px;
}
.contacts-nav__item {
	@media screen and (min-width: $tablet) {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	}
	@include centeredFlex();

}

.contact__icon {
	margin-right: 10px;
	fill: currentColor;
	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.site-nav__link--current {
	color: var(--accent-color);
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-color);
		bottom: -1px;
		left: 0;
	}
}
