::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
	border-radius: 10px;
}
