.social__list {
	// display: flex;
	@include centeredFlex();
}

.social__item:not(:last-child) {
	margin-right: 10px;
}

.social__link {
	@include centeredFlex();

	height: 44px;
	width: 44px;
	background-color: var(--primare-bg-color);
	block-size: 44px;
	/* outline: 1px solid tomato; */
	border-radius: 50%;
	cursor: pointer;
	color: var(--icon-color);
	transition: background-color var(--time-duration) var(--timing-function),
		color var(--time-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--primare-bg-color);
		background-color: var(--accent-color);
	}
}

.social__icon {
	fill: currentColor;
}
