.container {
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;

	@media screen and (min-width: $mobile) {
		width: $mobile;
		
	}

	@media screen and (min-width: $tablet) {
		width: $tablet;
		
	}

	@media screen and (min-width: $desktop) {
		width: $desktop;
	}
}


// .container {
// 	width: 100%;
// 	padding-left: 15px;
// 	padding-right: 15px;
// 	margin: 0 auto;
//   }
//   @media screen and (min-width: 480px) {
// 	.container {
// 	  max-width: 448px;
// 	}
//   }
//   @media screen and (min-width: 768px) {
// 	.container {
// 	  max-width: 720px;
// 	}
//   }
//   @media screen and (min-width: 1200px) {
// 	.container {
// 	  max-width: 1200px;
// 	}
//   }
  