:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primare-bg-color: #ffffff;
	--hero-bg-color: #2f303a;
	--secondary-bg-color: #f5f4fa;
	--secondary-accent-color: #000000;
	--card-set-gap: 30px;
	--section-set-gap: 94px;
	--mobile-section-set-gap: 60px;
	--icon-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--time-duration: 250ms;
}
